<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<div class="col-sm-6">
  <%= form_tag(employees_path, :method => "get", id: "search-form", class: 'input-group') do %>
	<%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search Employees" %>
  	<span class= "input-group-btn">
        <%= button_tag(type: "submit", class: "btn btn-default") do %>
          <i class="glyphicon glyphicon-search"></i>
        <% end %>   
    </span>  
	<% end %>
</div>
		
<table class='table table-responsive table-striped'>
  <thead>
    <tr>
      <th>Full name</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Intials</th>
      <th>Date of Birth</th>
      <th>BSN</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.full_name %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.initials %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= employee.bsn %></td>
        
        <td style="padding: 2px; margin; 0px">
          <div>
            <%= link_to employee, class: 'btn btn-sm btn-default' do %>
              <i class="glyphicon glyphicon-facetime-video"></i>
            <% end %>  

          <%= link_to edit_employee_path(employee), class: 'btn btn-sm btn-default' do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>  

          <%= link_to employee, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-default' do %>
            <i class="glyphicon glyphicon-remove-sign"></i>
          <% end %>  
        
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  
  <tfoot>
    

  </tfoot>
</table>

<br>


    <%= link_to new_employee_path, class: 'btn btn-default' do %>
      <i class="glyphicon glyphicon-plus"></i>
    <% end %>