<table class='table table-responsive table-striped'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Manager</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>    
        <td><%= project.manager.full_name %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
  
        <td style="padding: 2px; margin; 0px">
          <div>
            <%= link_to project, class: 'btn btn-sm btn-default' do %>
              <i class="glyphicon glyphicon-facetime-video"></i>
            <% end %>  

          <%= link_to edit_project_path(project), class: 'btn btn-sm btn-default' do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>  

          <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-default' do %>
            <i class="glyphicon glyphicon-remove-sign"></i>
          <% end %>  
        
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  
  <tfoot>
    <tr>
      <td>
        <%= link_to new_project_path, class: 'btn btn-default' do %>
          <i class="glyphicon glyphicon-plus"></i> New
        <% end %>
      </td>
    </tr>    
  </tfoot>
</table>

<br>